@media only screen and (min-width: 320px) and (max-width: 576px) {
  main {
    width: 100%;
  }
  .parrafo-index {
    width: 100%;
  }
}
main {
  display: grid;
  grid-template-rows: repeat(5, 1fr);
  grid-template-columns: repeat(12, 1fr);
  grid-gap: 5px;
}
main h1 {
  font-family: Verdana, sans-serif;
  color: rgb(27, 53, 130);
  text-align: center;
  letter-spacing: 10px;
  padding-top: 100px;
  grid-column: 3/10;
  grid-row: 1/1;
  border: 5px solid rgb(27, 53, 130);
  height: fit-content;
}
main .parrafo-index {
  grid-column: 1/6;
  grid-row: 1/2;
  font-family: Verdana, sans-serif;
  font-style: normal;
  width: 100%;
  height: 70%;
  color: rgb(27, 53, 130);
  margin-top: 40%;
  padding: 10%;
  text-align: justify;
  background-color: rgb(129, 143, 188);
}
main a {
  margin-top: 200%;
  font-family: Verdana, sans-serif;
  text-align: center;
  width: 100%;
  height: 60%;
  grid-column: 1/3;
  grid-row: 1/2;
  color: skyblue;
}
main img {
  grid-column: 7/13;
  grid-row: 1/3;
  margin-top: 30%;
  width: 80%;
  padding-right: 10%;
}
main .titulo-tratos {
  grid-column: 5/9;
  grid-row: 3/3;
  margin-top: 30%;
  border: 5px solid rgb(27, 53, 130);
  font-family: Verdana, sans-serif;
  font-style: normal;
  height: 10%;
  width: 100%;
  color: rgb(27, 53, 130);
  text-align: center;
}
main .tratos {
  grid-column: 2/12;
  grid-row: 3/6;
  font-family: Verdana, sans-serif;
  font-style: normal;
  height: fit-content;
  width: 100%;
  color: rgb(27, 53, 130);
  margin-top: 30%;
  padding: 5%;
  text-align: justify;
  background-color: rgb(129, 143, 188);
}
main .animacion {
  color: aquamarine;
  text-align: center;
  animation-name: zoomzoom;
  animation-iteration-count: infinite;
  animation-duration: 4s;
  animation-delay: 1s;
  grid-row: 5/6;
  grid-column: 4/10;
}
@keyframes zoomzoom {
  0% {
    color: rgb(73, 92, 148);
  }
  25% {
    color: aquamarine;
    transform: rotate 45 deg;
  }
  50% {
    color: rgb(73, 92, 148);
    transform: rotate 90 deg;
  }
  75% {
    color: aquamarine;
    transform: scalex(3);
  }
  100% {
    color: rgb(27, 53, 130);
  }
}

footer {
  background-color: rgb(129, 143, 188);
  padding: 2%;
  font-size: 20px;
  text-align: center;
  font-family: Verdana, sans-serif;
  font-style: normal;
  color: rgb(27, 53, 130);
  grid-row: 5/6;
}
footer .imagen-linkedin {
  grid-column: 1/2;
  width: 5%;
}

@media only screen and (min-width: 320px) and (max-width: 576px) {
  main {
    width: 100%;
  }
}
main {
  display: grid;
  grid-template-rows: repeat(5, 1fr);
  grid-template-columns: repeat(12, 1fr);
  grid-gap: 5px;
}
main .img-noticia-uno {
  grid-column: 1/6;
  grid-row: 2/3;
  max-width: 90%;
  padding: 10%;
  background-color: rgb(129, 143, 188);
}
main .noticia-uno {
  padding: 10%;
  grid-column: 6/13;
  grid-row: 2/3;
  max-width: 90%;
  max-height: 90%;
  font-family: Verdana, sans-serif;
  background-color: rgb(129, 143, 188);
  color: rgb(27, 53, 130);
}
main .img-noticia-dos {
  background-color: rgb(129, 143, 188);
  grid-column: 1/6;
  grid-row: 3/3;
  max-width: 90%;
  padding: 10%;
}
main .noticia-dos {
  background-color: rgb(129, 143, 188);
  padding: 10%;
  grid-column: 6/13;
  grid-row: 3/3;
  max-width: 90%;
  max-height: 90%;
  font-family: Verdana, sans-serif;
  color: rgb(27, 53, 130);
}
main .leer-mas {
  padding-top: 40%;
  font-size: 20px;
  font-family: Verdana, sans-serif;
  text-align: center;
  width: 100%;
  height: 80%;
  grid-column: 4/10;
  grid-row: 3/4;
  color: rgb(27, 53, 130);
}
main .img-noticia-tres {
  background-color: rgb(129, 143, 188);
  grid-column: 1/6;
  grid-row: 4/4;
  max-width: 90%;
  padding: 10%;
}
main .noticia-tres {
  background-color: rgb(129, 143, 188);
  padding: 10%;
  grid-column: 6/13;
  grid-row: 4/4;
  max-width: 90%;
  max-height: 90%;
  font-family: Verdana, sans-serif;
  color: rgb(27, 53, 130);
}
main .leer-mas-tres {
  padding-top: 55%;
  padding-left: 70%;
  font-size: 20px;
  font-family: Verdana, sans-serif;
  text-align: center;
  width: 100%;
  height: 80%;
  grid-column: 4/10;
  grid-row: 4/5;
  color: rgb(27, 53, 130);
}

@media only screen and (min-width: 320px) and (max-width: 576px) {
  main {
    width: 100%;
  }
}
main {
  display: grid;
  grid-template-rows: repeat(5, 1fr);
  grid-template-columns: repeat(13, 1fr);
  grid-gap: 5px;
}
main .parrafo-uno {
  grid-column: 2/5;
  grid-row: 2/5;
  font-family: Verdana, sans-serif;
  font-style: normal;
  width: 100%;
  height: 80%;
  color: rgb(27, 53, 130);
  padding: 10%;
  text-align: justify;
  background-color: rgb(129, 143, 188);
}
main .parrafo-dos {
  grid-column: 6/9;
  grid-row: 2/5;
  font-family: Verdana, sans-serif;
  font-style: normal;
  width: 100%;
  height: 80%;
  color: rgb(27, 53, 130);
  padding: 10%;
  text-align: justify;
  background-color: rgb(129, 143, 188);
}
main .parrafo-tres {
  grid-column: 10/13;
  grid-row: 2/5;
  font-family: Verdana, sans-serif;
  font-style: normal;
  width: 100%;
  height: 80%;
  color: rgb(27, 53, 130);
  padding: 10%;
  text-align: justify;
  background-color: rgb(129, 143, 188);
}
main .imagen-somos {
  grid-row: 4/6;
  grid-column: 5/9;
  padding-top: 30%;
  height: 80%;
}
main .contacto {
  grid-row: 3/3;
  grid-column: 10/13;
  padding-top: 20%;
}

@media only screen and (min-width: 320px) and (max-width: 576px) {
  main {
    width: 100%;
  }
}
main {
  display: grid;
  grid-template-rows: repeat(5, 1fr);
  grid-template-columns: repeat(12, 1fr);
  grid-gap: 2px;
}
main .imagen-contacto {
  padding: 10%;
  grid-column: 2/9;
  grid-row: 2/5;
  height: 80%;
}
main .dudas {
  color: rgb(73, 92, 148);
  font-family: Verdana, sans-serif;
  font-style: normal;
  grid-column: 8/12;
  grid-row: 2/2;
  font-size: 25px;
}
main .nombre {
  font-family: Verdana, sans-serif;
  color: rgb(27, 53, 130);
  font-style: normal;
  text-align: center;
  padding-top: 10%;
  grid-column: 8/12;
  grid-row: 3/3;
  background-color: rgb(129, 143, 188);
}
main .input-uno {
  grid-column: 8/12;
  grid-row: 3/4;
  margin: 30%;
}
main .correo {
  color: rgb(27, 53, 130);
  background-color: rgb(129, 143, 188);
  font-family: Verdana, sans-serif;
  font-style: normal;
  padding-top: 10%;
  text-align: center;
  grid-column: 8/12;
  grid-row: 4/4;
}
main .input-dos {
  grid-column: 8/12;
  grid-row: 4/5;
  margin-top: 6%;
  margin: 30%;
}
main .escribe {
  color: rgb(27, 53, 130);
  background-color: rgb(129, 143, 188);
  font-family: Verdana, sans-serif;
  font-style: normal;
  text-align: center;
  padding-top: 5%;
  grid-column: 8/12;
  grid-row: 5/5;
}
main .input-tres {
  grid-column: 8/12;
  grid-row: 5/6;
  margin: 10%;
}
main .enviar {
  grid-column: 8/13;
  grid-row: 6/6;
  margin-top: 6%;
  width: 80%;
}

@media only screen and (min-width: 320px) and (max-width: 576px) {
  main {
    width: 100%;
  }
}
main {
  display: grid;
  grid-template-rows: repeat(5, 1fr);
  grid-template-columns: repeat(12, 1fr);
  grid-gap: 5px;
}
main .imagen-ingresar {
  grid-column: 1/8;
  grid-row: 2/5;
  width: 90%;
  padding-left: 30%;
}
main .usuario {
  font-family: Verdana, sans-serif;
  color: rgb(27, 53, 130);
  font-style: normal;
  grid-column: 8/12;
  text-align: center;
  grid-row: 2/2;
  background-color: rgb(129, 143, 188);
}
main .input-uno-ingresar {
  grid-column: 9/13;
  grid-row: 2/3;
  margin-top: 5%;
}
main .contrasena {
  font-family: Verdana, sans-serif;
  color: rgb(27, 53, 130);
  font-style: normal;
  grid-column: 8/12;
  text-align: center;
  grid-row: 3/3;
  background-color: rgb(129, 143, 188);
}
main .input-dos-ingresar {
  grid-column: 9/13;
  grid-row: 3/4;
  margin-top: 5%;
}
main .ingresar {
  grid-column: 8/12;
  grid-row: 4/4;
  text-align: center;
  padding-top: 5%;
  background-color: rgb(129, 143, 188);
}

/*# sourceMappingURL=style.css.map */
