main {display: grid;
    grid-template-rows: repeat(5, auto);
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 5px;

     .imagen-contacto {
        padding-top: 10%;
        grid-column: 3/10;
        grid-row: 6/7;
        height: 80%;
        margin: 0 auto;
    }
        .dudas {
        color: $color-de-textos;
        font-family: $fuentedeltexto;
        font-style: normal;
        grid-column: 2/12;
        grid-row: 2/2;
        font-size: 25px;
        }
        .nombre, .correo, .escribe {
            font-family: $fuentedeltexto;
            color: $colordetitulo;
            background-color: rgb(129, 143, 188);
            font-style: normal;
            text-align: center;
            grid-column: 4 / 9; 
            padding: 10px;
          }
          .nombre {
            margin-top: 10%;
            grid-row: 2 / 3;
          }
        
          .correo {
            grid-row: 3 / 4;
          }
    
          .escribe {
            grid-row: 4 / 5;
          }
          .input-uno, .input-dos, .input-tres, .enviar {
            grid-column: 5 / 8; 
            width: 100%; 
            padding: 10px;
          }
        .input-uno {
            grid-row: 2/3;
            margin-top: 25%;
        }
        .input-dos {
            grid-row: 3/4;
            margin-top: 10%;
        }
        .input-tres {
            grid-row: 4/5;
            width: 100%;
            margin-top: 10%;
        }
        
        .enviar {
            grid-row: 5/6;
            margin-top: 6%;
            width: 80%;}  

@media (max-width: 1024px) {
    grid-template-columns: repeat(8, 1fr);
          
  .imagen-contacto {
            grid-column: 2/8;
          }
      
  .dudas {
            font-size: 20px;
            grid-column: 1/9;
          }
      
  .nombre, .correo, .escribe {
            grid-column: 3 / 7;
          }
      
  .input-uno, .input-dos, .input-tres, .enviar {
            grid-column: 4 / 6;
          }
        }
@media (max-width: 768px) {
  grid-template-columns: repeat(6, 1fr);
          
  .imagen-contacto {
    grid-column: 1/7;
  }
      
  .dudas {
    font-size: 18px;
    grid-column: 1/7;
  }
      
  .nombre, .correo, .escribe {
    grid-column: 2 / 6;
  }
      
  .input-uno, .input-dos, .input-tres, .enviar {
    grid-column: 3 / 5;
  }
}
      
@media (max-width: 480px) {
  grid-template-columns: repeat(4, 1fr);
  .imagen-contacto {
    grid-column: 1/5;
  }
      
  .dudas {
    font-size: 16px;
    grid-column: 1/5;
  }
      
  .nombre, .correo, .escribe {
    grid-column: 1 / 5;
  }
      
  .input-uno, .input-dos, .input-tres, .enviar {
    grid-column: 1 / 5;
    width: 90%;
  }
 }
}