@media only screen and (min-width: 320px) and (max-width: 576px) {
    main{width: 100%;}
    .parrafo-index {width: 100%;}
    }
$colordetitulo: rgb(27, 53, 130);
$fuentedeltexto: Verdana, sans-serif;
$color-de-textos:rgb(73, 92, 148);
main { display: grid;
    grid-template-rows: repeat(5, 1fr);
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 5px;
    
        h1 { 
        font-family: $fuentedeltexto;
        color: $colordetitulo;
        text-align: center; 
        letter-spacing: 10px;
        padding-top: 100px;
        grid-column: 3 / 10; 
        grid-row: 1 / 1;
        border: 5px solid rgb(27, 53, 130);
        height: fit-content;
        }
        .parrafo-index {
        grid-column: 1 / 6; 
        grid-row: 1 / 2;
        font-family: $fuentedeltexto ;
        font-style: normal;
        width: 100%;
        height: 70%;
        color: $colordetitulo;
        margin-top: 40%;
        padding: 10%;
        text-align: justify;
        background-color: rgb(129, 143, 188)
        }
        a{
            margin-top: 200%;
            font-family: $fuentedeltexto;
            text-align: center;
            width: 100%;
            height: 60%;
            grid-column: 1 / 3; 
            grid-row: 1 / 2; 
            color: skyblue;
        }
        img {grid-column: 7 / 13; 
            grid-row: 1 / 3;
            margin-top: 30%;
            width: 80%;
            padding-right: 10%;
        }
        .titulo-tratos{
            grid-column: 5 / 9; 
            grid-row: 3/ 3;
            margin-top: 30%;
            border: 5px solid rgb(27, 53, 130);
            font-family: $fuentedeltexto ;
            font-style: normal;
            height: 10%;
            width: 100%;
            color: $colordetitulo;
            text-align: center;
        }
        .tratos{ grid-column: 2 / 12; 
            grid-row: 3 / 6;
            font-family: $fuentedeltexto ;
            font-style: normal;
            height: fit-content;
            width: 100%;
            color: $colordetitulo;
            margin-top: 30%;
            padding: 5%;
            text-align: justify;
            background-color: rgb(129, 143, 188);
        }

        .animacion {color:aquamarine;
        text-align: center;
        animation-name: zoomzoom;
        animation-iteration-count: infinite;
        animation-duration: 4s;
        animation-delay: 1s;
        grid-row: 5 /6;
        grid-column: 4/10;}
        @keyframes zoomzoom {
            0% {
            color: $color-de-textos
            }
            25% {
            color: aquamarine;
            transform: rotate (45 deg);
            }
            50% {
            color: $color-de-textos;
            transform: rotate (90 deg);
            }
            75%{
            color: aquamarine;
            transform: scalex(3);
            }
            100% {
            color: $colordetitulo
            }
        }
}
footer {
    background-color: rgb(129, 143, 188);
    padding: 2%;
    font-size: 20px;
    text-align: center;
    font-family: $fuentedeltexto;
    font-style: normal;
    color: $colordetitulo;
    grid-row: 5/6 ;
    .imagen-linkedin {
    grid-column: 1/2;
    width: 5%;
    }
}
